
#page-wrap {
    padding: 5%; 
}
#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image-container img {
    width: 25%
}

h1 {
    font-family: "Montserrat", serif;
}

@media screen and (max-width: 641px) {
    #image-container {
        flex-direction: column; 
    }
    #image-container img {
        width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;

    border-radius: 5px;

  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius:5px; 
  }
  
  button:hover {
    background-color: #f6f6f6;
    color:#000;
  }
  